In [5]:
import pickle
import os
import pandas as pd
from collections import defaultdict
episodes = []
directory = "/mnt/watchandhelp/PycharmProjects/pddl-generators/blocksworld/data/data-4blocks-10goals-4ops"
keys = set()
for filename in os.listdir(directory):
    if ".soln" in filename:

        file = open(f"{directory}/{filename}", 'rb')
        object_file = pickle.load(file)
        # for key, value in object_file['solution'].items():
        # object_file['solution'][key] = value
        del object_file['solution'][0]
        df2 = pd.DataFrame(object_file['solution'], index=list(range(len(object_file['solution']))),
                           columns=['action'])
        df1 = pd.DataFrame(object_file['trace'], index=list(range(len(object_file['trace']))))
        episodes.append(pd.concat([df1, df2], axis=1))
        keys.update(episodes[-1].keys())
        if len(df2) == 0:
            pass
        if len(df2) != 0:
            #frames[folder].append(pd.concat([df1, df2], axis=1))
            pass
        file.close()

In [6]:
len(episodes)

5000

In [7]:
end_marker = pd.DataFrame({key: ["end"] for key in keys})

In [8]:
final_res = []
for e in range(len(episodes)):
    final_res.append(episodes[e])
    final_res.append(end_marker)
df = pd.concat(final_res,ignore_index=True)
df.to_csv("4blocks-10goals", index_label=False,na_rep="null",index=False)

In [38]:
df

,arm-empty,on_b2,on_b1,clear_b1,on-table_b5,clear_b4,on-table_b3,on_b4,on_b6,clear_b6,...,on-table_b6,holding_b2,clear_b5,action,on_b3,on-table_b2,holding_b3,on_b5,on-table_b4,holding_b5
0,True,b5,b6,True,True,True,True,b3,b2,NaN,...,NaN,NaN,NaN,(unstack_b1_b6),NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,b5,NaN,NaN,True,True,True,b3,b2,True,...,NaN,NaN,NaN,(putdown_b1),NaN,NaN,NaN,NaN,NaN,NaN
2,True,b5,NaN,True,True,True,True,b3,b2,True,...,NaN,NaN,NaN,(unstack_b4_b3),NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,b5,NaN,True,True,NaN,True,NaN,b2,True,...,NaN,NaN,NaN,(stack_b4_b1),NaN,NaN,NaN,NaN,NaN,NaN
4,True,b5,NaN,NaN,True,True,True,b1,b2,True,...,NaN,NaN,NaN,(unstack_b6_b2),NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238075,NaN,b1,b4,NaN,True,NaN,NaN,NaN,b2,True,...,NaN,NaN,True,(stack_b3_b6),NaN,NaN,True,NaN,True,NaN
238076,True,b1,b4,NaN,True,NaN,NaN,NaN,b2,NaN,...,NaN,NaN,True,(pickup_b5),b6,NaN,NaN,NaN,True,NaN
238077,NaN,b1,b4,NaN,NaN,NaN,NaN,NaN,b2,NaN,...,NaN,NaN,NaN,(stack_b5_b3),b6,NaN,NaN,NaN,True,True
238078,True,b1,b4,NaN,NaN,NaN,NaN,NaN,b2,NaN,...,NaN,NaN,True,NaN,b6,NaN,NaN,b3,True,NaN
238079,end,end,end,end,end,end,end,end,end,end,...,end,end,end,end,end,end,end,end,end,end

In [30]:
!pwd

/mnt/watchandhelp/PycharmProjects/thesis_test

In [31]:
episodes[0]

,arm-empty,on_b2,on_b1,clear_b1,on-table_b5,clear_b4,on-table_b3,on_b4,on_b6,clear_b6,holding_b1,on-table_b1,holding_b4,clear_b3,holding_b6,clear_b2,on-table_b6,holding_b2,clear_b5,action
0,True,b5,b6,True,True,True,True,b3,b2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unstack_b1_b6)
1,NaN,b5,NaN,NaN,True,True,True,b3,b2,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(putdown_b1)
2,True,b5,NaN,True,True,True,True,b3,b2,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unstack_b4_b3)
3,NaN,b5,NaN,True,True,NaN,True,NaN,b2,True,NaN,True,True,True,NaN,NaN,NaN,NaN,NaN,(stack_b4_b1)
4,True,b5,NaN,NaN,True,True,True,b1,b2,True,NaN,True,NaN,True,NaN,NaN,NaN,NaN,NaN,(unstack_b6_b2)
5,NaN,b5,NaN,NaN,True,True,True,b1,NaN,NaN,NaN,True,NaN,True,True,True,NaN,NaN,NaN,(putdown_b6)
6,True,b5,NaN,NaN,True,True,True,b1,NaN,True,NaN,True,NaN,True,NaN,True,True,NaN,NaN,(unstack_b2_b5)
7,NaN,NaN,NaN,NaN,True,True,True,b1,NaN,True,NaN,True,NaN,True,NaN,NaN,True,True,True,(stack_b2_b4)
8,True,b4,NaN,NaN,True,NaN,True,b1,NaN,True,NaN,True,NaN,True,NaN,True,True,NaN,True,(pickup_b6)
9,NaN,b4,NaN,NaN,True,NaN,True,b1,NaN,NaN,NaN,True,NaN,True,True,True,NaN,NaN,True,(stack_b6_b5)
10,True,b4,NaN,NaN,True,NaN,True,b1,b5,True,NaN,True,NaN,True,NaN,True,NaN,NaN,NaN,NaN

In [4]:
state_index = {}
state_count = 0
episodes = episodes[0:250]
for e in episodes:
    for i, r in e.iterrows():
        tuple_proc = tuple(r)
        if not tuple_proc in state_index:
            state_index[tuple_proc] = state_count
        state_count += 1

In [ ]:
import pickle

In [13]:
with open('blocksworld6blocks.pkl', 'wb') as f:
    pickle.dump(episodes, f)

In [12]:
max(state_index.values())

3401

In [6]:
episodes[0].head(5)

,on-table_b1,on_b7,clear_b2,on-table_b4,on_b2,on_b6,clear_b6,on_b8,on_b5,on_b3,...,on-table_b8,holding_b3,clear_b4,on-table_b3,holding_b4,on_b4,holding_b7,clear_b1,on-table_b7,action
0,True,b1,True,True,b8,b5,True,b3,b7,b4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unstack_b6_b5)
1,True,b1,True,True,b8,NaN,NaN,b3,b7,b4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(putdown_b6)
2,True,b1,True,True,b8,NaN,True,b3,b7,b4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unstack_b5_b7)
3,True,b1,True,True,b8,NaN,True,b3,NaN,b4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(putdown_b5)
4,True,b1,True,True,b8,NaN,True,b3,NaN,b4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(unstack_b2_b8)